.modal-draggable .modal-backdrop {
  position: fixed;
}

.modal.modal-draggable {
    overflow: overflow-y;
}

.modal-draggable .modal-header:hover {
  cursor: move;
}
.modal.modal-wide .modal-dialog {
  width: 95%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}



#loader {
  z-index: 10051;
  margin: 0 auto;
}

.popup2 {
  display: none;
  background-color: white;
  position: absolute;
  border: 1px solid #AAAAAA;
  padding: 10px;
  z-index: 999;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.extracted-items-container {
pointer-events: none;
background-color: rgba(0,0,0,0.8);
padding: 10px;
width: 400px;
box-shadow: 0px 0px 12px 0px rgba(0,0,0,1.0);
position: fixed;
left: 400px;
top: 30px;
}

#hovered-element-info {
font: 1.0em Helvetica,Arial,sans-serif;
color: white;
padding: 8px;
/*float: left;*/
background-color: rgba(0,0,0,0.8);
box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.8);
margin-right: 15px;
/*display: none;*/
pointer-events: all;
/*max-width: 450px;*/
border-radius: 3px;
}

.title{
	font-size: 20px;
	margin: 0 auto;
	width: 100px;
}

.head_list {

  font-family:sans-serif;
  margin:0;
  padding:20px 0 0;
  width: 100%;
}
.head_list > li {
  display:block;
  background-color: #eee;
  padding:10px;
  box-shadow: inset 0 1px 0 #fff;
  display: table;
  width: 100%;
}
.head_list > li > span {
  display:table-cell;
}


.list {
	display: table;
  font-family:sans-serif;
  margin:0;
  padding:0px 0 0;
  width: 100%;
}
.list > li {
  display:block;
  background-color: #eee;
  padding:10px;
  box-shadow: inset 0 1px 0 #fff;
  display: table;
  width: 100%;
}
.list > li > span {
  display:table-cell;
}

.col_3{
	width:35%;
}
.col_5{
	width:20%;
}
.clear{
clear:both;
}


.extracted-items-container {
pointer-events: none;
background-color: rgba(0,0,0,0.8);
padding: 10px;
width: 400px;
box-shadow: 0px 0px 12px 0px rgba(0,0,0,1.0);
position: fixed;
left: 400px;
top: 30px;
}

#hovered-element-info {
font: 1.0em Helvetica,Arial,sans-serif;
color: white;
padding: 8px;
/*float: left;*/
background-color: rgba(0,0,0,0.8);
box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.8);
margin-right: 15px;
/*display: none;*/
pointer-events: all;
/*max-width: 450px;*/
border-radius: 3px;
}


#htmltree-content {
	margin-bottom: 10px;
	border: 1px solid #DDDDDD;
	overflow: auto;
	height: 69%;
	width: 98%;
}

#htmltree-content ul {
	list-style: none;
}

#htmltree-content .plus {
	margin-right: 5px;
}

#htmltree-content li {
	cursor: pointer;
}

#htmltree-content .selected {
	background: black;
	color: white;
}


.icon-pagination-check {
    background: #a6b2c8 url('../img/pagination_check.svg') no-repeat 48% 49%;
    height: 25px;
    width: 25px;
    background-size: 11px;
    border-radius: 25px;
    margin: 0
}
.icon-pagination {
    border-radius: 25px;
    border: 0;
    outline: none;
    width: 25px;
    height: 25px;
    background: #a6b2c8 url('../img/icon-pagination.svg') no-repeat 50% 52%;
    background-size: 13px 13px;
    margin: 0 3px 2px 0;
    opacity: .4
}
.icon-extractor {
    background: url('../img/icon-extractor.svg') no-repeat 50% 50%;
}
.icon-model{
    background: url('../img/icon-data-model.svg') no-repeat 50% 50%;
}
.icon-res{
    background: url('../img/icon-json.svg') no-repeat 50% 50%;
}


.btn_view{
   background-size: 25px 15px; 
   width:25px;
   height:25px;
   cursor:pointer; 
}

.pt_20{
    padding-top: 20px; 
}

.pt_10{
    padding-top: 10px; 
}
.pt_5{
    padding-top: 5px; 
}

.pr_15{
    padding-right: 15px;
}

.white{
    color:#fff;
}